<!doctype html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" ></link>
	<link href='http://fonts.googleapis.com/css?family=Quintessential' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/fandingo.css" ></link>
	<script type"text/javascript" src="js/angular.js" ></script>
	<script type"text/javascript" src="js/fandingo.js" ></script>
</head>

<header></header>

<body ng-app="fandingoApp">

<div class="row-fluid my-hero-unit">
	<header>
		<h1><img src="img/dingo.jpg" width="192" class="dingo"/> <span class="titleAnimationLetter">F</span><span class="titleAnimationLetter">a<span class="titleAnimationLetter">n<span class="titleAnimationLetter">D<span class="titleAnimationLetter">i<span class="titleAnimationLetter">n<span class="titleAnimationLetter">g<span class="titleAnimationLetter">o</span></h1>
	</header>
</div>

<div class="row-fluid main-content" ng-controller="appCtrl">
	<ul id="thumbList" class="span9" >

		<li class="thumb thumbInitialAnimation" ng-repeat="movie in movies" ng-controller="movieCtrl" 
			ng-click="selectMovie()"
			movieselected>
			<img src="{{movie.image}}"  />
			<div class="movieDescr"><p>{{movie.name}}</p></div>
		</li>
	</ul>

	<div class="span3 flipbackface" id="movieDetails" flipping="sdf"> 
		<my-element name="sdfsdf"></my-element>
		<ul>
			<li class="single-movie-description" ng-repeat="selmovie in selmovies" fadey="500">
				<p>{{selmovie}}</p>
			</li>
		
		
	</div>
</div>

</body>

</html>